body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

#title {
    text-align: center;
    color: #2A9D8F;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.note{
    color: #2A9D8F;
    font-weight: bold;
    margin-bottom: 4px;
}

#input-el {
    height: 40px;
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
}

#input-el,
#select {
    border: 1px solid #2A9D8F;
    border-radius: 5px;
    margin-bottom: 10px;
}

#input-el:focus,
#input-el:hover,
#select:focus,
#select:hover
 {
    border: 2px solid #2A9D8F;
    outline: none;
}

#select {
    width: 40%;
    padding: 7px;
}

#select, #select option{
    color: #2A9D8F;
    font-weight: bold;
}

.all-btn button{
    background-color: #2A9D8F;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #2A9D8F;
    border-radius: 10px;
}

.all-btn {
    margin-bottom: 10px;
}

#ul-el {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a, .user-note, .user-option{
    color: #2A9D8F;
}

a, li span, .user-note, .user-option{
    font-weight: bold;
}

.user-option {
    font-size: .8rem;
    color: #0e3530;
}

.user-note {
    margin-bottom: 4px;
}